body {
    text-align: center;
    margin: 0;
    font-family: "Visitor";
    background-color: gray;
    text-align: center;
    width: auto;	
}
    
h1 {
    background-color: black;
    color: white;
}
 
	
.spaces {
    float: left;
}
	
#water {
    position: absolute;
    top: 140px;
}
	
#stonePath3 {
    position: absolute;
    top: 220px;
}
	
#stonePath2 {
    position: absolute;
    top: 300px
}
	
#stonePath {
    position: absolute;
        top: 380px;
}
	
#grassPath2 {
    position: absolute;
    top: 460px;
}
	
#grassPath {
    position: absolute;
    top: 540px
}

#characters {
    position: absolute;
    text-align: center;
    top: 630px;
    right: 464px;
}
	
.frogs {
    width: 100px;
    position: relative;
    top: 35px;
}
	
.animate {
    position: absolute;
    bottom: 30px;
    background-image: url("Frogger/images/enemy-bug.png");
    width: 100px;
    height: 160px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

#froggerGame {
    text-align: center;
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 100px;
    left: 200px;
    overflow-x: scroll;
    overflow-y: scroll;
}

#froggerGameBoard {
    margin: auto;
    width:100%; 
    height:100%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 1000px;
    height: 1000px;
    top: 100px;
    left: 200px;
}


